*{
  box-sizing: border-box;
  word-break: break-word;
}
body{
  background-color: rgb(43, 41, 41);
}
.app-container{
  padding: 30px;
}
.app-header a{
  text-decoration: none;
}
.app-header__title{
  margin-bottom: 40px;
  font-size: 54px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 800;

}
.app-header__title span{
  color: #6088da;
}
.app-content__card--section{
  max-width: 1024px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr ;
  gap: 30px;
}
.app-content__card--section.horizontal{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.app-content__cta{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}
.app-content__cta a{
  width: fit-content;
  padding: 15px 35px;
  background-color: #6088da;
  border: none;
  color: white;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 5px;
}
.app-content__cta .app-content__viewall{
  text-decoration: underline;
  background-color: transparent;
}

.todo-card__container.horizontal .todo-card__inner{
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "todo-check todo-title todo-button"
  "todo-check todo-paragraph todo-button";
  align-items: center;
  max-width: 500px;
  margin: auto;
  row-gap: 5px;
  border-radius: 30px;
}
.todo-card__container.horizontal .todo-card__content--paragraph,
.todo-card__container.horizontal .todo-card__content--title{
  text-align: start;
}
.todo-card__container.horizontal .todo-card__content--paragraph{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.todo-card__container.horizontal .todo-card__content--check{
  width: 32px;
  height: 32px;
}
.todo-card__inner{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 20px;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
}
.todo-card__content--check{
  width: 20px;
  height: 20px;
  grid-area: todo-check;
}
.todo-card__content--title{
  font-size: 24px;
  color: black;
  margin: 0;
  font-weight: 500;
  text-align: center;
  grid-area: todo-title;
}
.todo-card__content--paragraph{
  font-size: 16px;
  color: #333;
  margin: 0;
  grid-area: todo-paragraph;
  flex: 1;
}
.todo-card__content--button{
  font-size: 14px;
  padding: 12px 30px;
  background-color: #6088da;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  color: white;
  width: fit-content;
  align-self: center;
  grid-area: todo-button;
}


.todo-form__wrapper{
  max-width: 500px;
  margin: auto;
}

.todo-form__inner{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.todo-form__left label svg{
  width: 50px;
}
.todo-form__left label svg path{
   fill: white;
   cursor: pointer;
}
.todo-form__left label input{
  appearance: none;
}
.todo-form__left label:has(input:checked ) svg path{
  fill: #009c15ff;
  /* display: none; */
}
.todo-form__right{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.todo-form__right label{
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;

}
.todo-form__right textarea,
.todo-form__right input{
  width: 100%;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  
}
.todo-form__right .action-buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.todo-form__right button{
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #6088da;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.todo-form__right button:last-of-type{
  background-color: rgb(246, 74, 74);
}

.app-filters{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: auto;
  margin-bottom:30px ;

}
.app-filter__input{
  flex: 1;
}
.app-filter__select{
  gap: 20px;
  display: flex;
}
.app-filters input {
  /* flex: 1; */
}
.app-filters input ,
.app-filters select{
  min-height: 40px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;

}

.app-content__card--section .no_task{
  text-align: center;
  font-size: 32px;
  color: white;
  display: grid;
  grid-column: -1 / 1;
}

@media screen and (max-width: 400px) {
  .todo-form__inner{
    display: grid;
    grid-template-columns: 1fr;
  }
  .app-filters input ,
.app-filters select{
    padding: 10px;
  }
  .app-filter__select{
    gap: 10px;
  }
  .todo-card__container.horizontal .todo-card__inner{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "todo-title todo-title"
  "todo-paragraph todo-paragraph"
  "todo-check todo-button";
  align-items: center;
  max-width: 500px;
  margin: auto;
  row-gap: 5px;
  border-radius: 30px;
}
}